html {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  font-size: 18px;
  line-height: 160%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1264px;
}

.large-container {
  max-width: 1900px;
  margin: 0 auto;
}

.page {
  padding-bottom: 200px;
}

.h1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}

.h3 {
  font-weight: bold;
  font-size: 28px;
  line-height: 140%;
}

.section-title {
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
}

.text-14 {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
}

.text-18 {
  font-size: 18px;
  line-height: 160%;
}

.text-tab {
  font-size: 18px;
  line-height: 120%;

  // Возможно убрать в пользу соответсвующи классов начертания
  &.active {
    font-weight: 500;
  }
}

// Не коррелирует с макетами
.text-sevice-head {
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
}

// Не коррелирует с макетами
.text-sevice-subhead {
  font-size: 14px;
  line-height: 140%;
}

.black {
  font-weight: 900;
}

.extrabold {
  font-weight: 800;
}

.bold {
  font-weight: 700;
}

.semibold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.text-secondary-grey {
  color: map-get($colors, secondary-gray);
}

.text-primary-purple {
  color: map-get($colors, primary-purple);
}

picture img {
  vertical-align: bottom;
}

// animations

// ui
button {
  border: none;
  background: transparent;
  padding: 14px 43px;
  cursor: pointer;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;

  &.rounded {
    border-radius: 26px;
  }

  &:disabled {
    cursor: default;
  }

  &.primary {
    color: #fff;
    background-color: map-get($colors, primary-purple);

    &:hover {
      background-color: map-get($colors, secondary-purple);
    }

    &:active {
      background-color: map-get($colors, primary-purple);
    }

    &:disabled {
      color: map-get($colors, secondary-lavanda);
      background-color: map-get($colors, secondary-light-blue);
    }
  }

  &.outline-primary {
    padding: 13px 42px;
    color: map-get($colors, primary-purple);
    border: 1px solid map-get($colors, primary-purple);

    &:hover {
      color: map-get($colors, secondary-purple);
      border-color: map-get($colors, secondary-purple);
    }

    &:active {
      color: map-get($colors, primary-purple);
      border-color: map-get($colors, primary-purple);
    }

    &:disabled {
      color: map-get($colors, secondary-lavanda);
      border-color: map-get($colors, secondary-lavanda);
    }
  }
}
