html {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  font-size: 18px;
  line-height: 160%;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: var(--color, #181818);
  fill: var(--color, #181818);
  stroke: var(--color, #181818);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1264px;

  // @include mw(1280px) {
  //   margin: 0 50px;
  // }

  // @include mw(719px) {
  //   margin: 0 30px;
  // }
}

.page {
}

// .text-link {
//   cursor: pointer;
//   box-shadow: 0px 0px 0px white, 0px 1px 0px black;
// }

.h1 {
}
.h2 {
}
.h3 {
}

.text-36 {
}
.text-26 {
}

.black {
  font-weight: 900;
}

.extrabold {
  font-weight: 800;
}

.bold {
  font-weight: bold;
}

.semibold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

picture img {
  vertical-align: bottom;
}

// animations

// ui
button {
  border: none;
  background: transparent;
  padding: 14px 43px;
  cursor: pointer;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;

  &.rounded {
    border-radius: 26px;
  }

  &:disabled {
    cursor: default;
  }

  &.primary {
    color: #fff;
    background-color: map-get($colors, primary-purple);

    &:hover {
      background-color: map-get($colors, secondary-purple);
    }

    &:active {
      background-color: map-get($colors, primary-purple);
    }

    &:disabled {
      color: map-get($colors, secondary-lavanda);
      background-color: map-get($colors, secondary-light-blue);
    }
  }

  &.outline-primary {
    padding: 13px 42px;
    color: map-get($colors, primary-purple);
    border: 1px solid map-get($colors, primary-purple);

    &:hover {
      color: map-get($colors, secondary-purple);
      border-color: map-get($colors, secondary-purple);
    }

    &:active {
      color: map-get($colors, primary-purple);
      border-color: map-get($colors, primary-purple);
    }

    &:disabled {
      color: map-get($colors, secondary-lavanda);
      border-color: map-get($colors, secondary-lavanda);
    }
  }
}
