$colors: (
  primary-purple: #7a54ff,
  primary-yellow: #ffd21f,
  primary-black: #000,
  secondary-purple: #4e28d2,
  secondary-gray: #666666,
  secondary-light-gray: #bec6e0,
  secondary-light-blue: #f0f4ff,
  secondary-lavanda: #e1e3f6,
  bg-blue: #f0f4ff,
  bg-light-grey: #fbfbfd,
  bg-white: #fff,
  bg-black: #000,
  bg-light-black: #141414,
);
